{% extends "layout/layout.twig"%}

{% block body %}
	<h1 class="title">Pages</h1>
	<h2 class="subtitle">
	  A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading
	</h2>

		{% if pages == false %}
		<div class="notification">
		  <span class="delete"></span>
			<strong>No Pages.</strong> You have no pages here.
		</div>
		{% else %}
			{% for page in pages %}

			<article class="media">
				<div class="media-content">
					<div class="content">
					<p>
					  <div class="columns">
					  <div class="column is-9">
					  	<strong>{{page.title}}</strong><br/>
					  	This page uses the layout <strong>{{page.layout}}</strong>
					  </div>
					  <div class="column is-3">
					  	<small><a href="?delete={{page.title}}" class="button is-primary is-outlined">Delete</a></small>
					  </div>
					  </div>
					</p>
				</div>
			</div>
			</article>
			{% endfor %}
		{% endif %}

{% endblock %}

{% block sidebar %}
	{% if layouts != false %}
	<p class="subtitle is-5">Create Page</p>
	<form action="pages/create" method="get">
	
	<p class="control">
      <span class="select">
        <select name="layout">
        {% for layout in layouts %}
          <option value="{{layout.title}}">{{layout.title}}</option>
        {% endfor %}
        </select>
      </span>
    </p>
	<button type="submit" class="button is-success">Create Layout</button>
	</form>
	{% else %}
	<br/>
	<h5><strong>Note</strong></h5>
	<p class="muted">In order to create a page, you must first create a <a href="layouts">layout</a>.</p>
	{% endif %}
{% endblock %}