{% extends "layout/layout.twig"%}

{% block body %}
	<h1 class="title">Pages</h1>
	<h2 class="subtitle">
	  Are build up of a <strong>layout</strong> and one or more <strong>components</strong>. Each page is rendered as a HTML page and served to the user.
	</h2>

		{% if pages == false %}
		<div class="notification">
		  <span class="delete"></span>
			<strong>No Pages.</strong> You have no pages here.
		</div>
		{% else %}
			{% for page in pages %}
			<article class="media">
				<div class="media-content">
					<div class="content">
					<p>
					  <div class="columns">
					  <div class="column is-7">
					  	<strong>{{page.page}}</strong> {% if page.endpoint == '/' %}<small>(homepage)</small>{% endif %} <br/>
					  	This page uses the layout <code>{{page.layout}}</code>
					  </div>
					  <div class="column is-5">
					  	<small><a href="pages/create?edit={{page.page}}&layout={{page.layout}}" class="button is-primary is-outlined">Edit</a></small>
					  	<small><a href="pages?rebuild={{page.page}}" class="button is-primary is-outlined">Rebuild</a></small>
					  	<small><a target="_blank" href="{{system.evany.directory.home}}/{{page.endpoint}}" class="button is-primary is-outlined">View</a></small>
					  	<small><a href="?delete={{page.page}}" class="button is-danger is-outlined">Delete</a></small>
					  </div>
					  </div>
					</p>
				</div>
			</div>
			</article>
			{% endfor %}
		{% endif %}

{% endblock %}

{% block sidebar %}
	{% if layouts != false %}
	<p class="subtitle is-5">Create Page</p>
	<form action="pages/create" method="get">
	
	<p class="control">
      <span class="select">
        <select name="layout">
        {% for layout in layouts %}
          <option value="{{layout.title}}">{{layout.title}}</option>
        {% endfor %}
        </select>
      </span>
    </p>
	<button type="submit" class="button is-success">Create Layout</button>
	</form>
	<hr>
	<h5><strong>Tip</strong></h5>
	<p class="muted">Use the at (@) symbol at the start of the page title to assign it as the homepage.</p>
	{% else %}
	<br/>
	<h5><strong>Note</strong></h5>
	<p class="muted">In order to create a page, you must first create a <a href="layouts">layout</a>.</p>
	{% endif %}
{% endblock %}