{% extends "layout/layout.twig"%}

{% block body %}
	{% if layout != false %}
	<form method="post" action="save">
	<h1><small><input required {% if edit != false %}value="{% if edit != false and edit.endpoint == '/' %}@{% endif %}{{edit.page}}"{% endif %} required="" name="page_title" class="page-title no-input input is-large" placeholder="Page Title" type="text"></small></h1>
	<p class="endpoint-p"><input {% if edit != false %}value="{{edit.page}}"{% endif %} placeholder="endpoint" name="page_endpoint" type="text" class="input endpoint-title no-input" readonly></p>
	<input type="hidden" name="page_layout" value="{{get.layout}}">
	<br/>

	<!-- Add Component -->
	<div class="columns">
		<div class="columns is-12">
			<div class="columns">
				<div class="column is-12">
						{% for layoutComponent in layout.components %}
							<br/>
							<h2 class="subtitle"><strong>{{layoutComponent}}</strong></h2>
							<div class="columns">
							{% if attribute(components, layoutComponent) != false %}
								{% set index = 0 %}
								{% for form in attribute(components, layoutComponent) %}
									{% set index = index + 1 %}
									<div class="column" style="min-height:100px;">
										<p class="control">
										<h6 class="subtitle is-6">{{form.name|capitalize}} {% if form.required and form.type != 'boolean' %}*{% endif %}</h6>
											{% set templateComponent = layoutComponent|replace({' ': '_'}) %}
											
	
											<!-- Input -->
											{% if form.type == 'input' %}
											<input {% if attribute(edit, templateComponent) != false  %} 
											value="{{attribute(edit, templateComponent)[index].value}}"
											{% endif %} name="{{random()}}{{form.id}}-{{form.name}}-{{layoutComponent}}" {% if form.required %}required required=""{% endif %} type="text" class="input">
											{% endif %}

											<!-- Textarea -->
											{% if form.type == 'textarea' %}
											<textarea name="{{random()}}{{form.id}}-{{form.name}}-{{layoutComponent}}" {% if form.required %}required required=""{% endif %} class="textarea-min textarea">{% if attribute(edit, templateComponent) != false  %} 
											{{attribute(edit, templateComponent)[index].value}}
											{% endif %}</textarea>
											{% endif %}

											<!-- Select -->
											{% if form.type == 'comma' %}
											{% if form.value != false %}
											<span class="select">
												<select style="min-width:120px;" name="{{random()}}{{form.id}}-{{form.name}}-{{layoutComponent}}" {% if form.required %}required required=""{% endif %} class="select">
													{% for value in form.value %}
														<option value="{{value}}">{{value}}</option>
													{% endfor %}
												</select>
											</span>
											{% else %}
											<p><small>No value(s) given in 'select' field.</small></p>
											{% endif %}
											{% endif %}
											
											<!-- Checkbox -->
											{% if form.type == 'boolean' %}
											 <div class="checkbox">
										        <label>
										          <input {% if attribute(edit, templateComponent) != false  %} 
											value="{{attribute(edit, templateComponent)[index].value}}"
											{% endif %} name="{{random()}}{{form.id}}-{{form.name}}-{{layoutComponent}}" type="checkbox" class="input">
										        </label>
										      </div>
											{% endif %}

											<!-- Integer -->
											{% if form.type == 'integer' %}
											<input {% if attribute(edit, templateComponent) != false  %} 
											value="{{attribute(edit, templateComponent)[index].value}}"
											{% endif %} name="{{random()}}{{form.id}}-{{form.name}}-{{layoutComponent}}" {% if form.required %}required required=""{% endif %} type="number" class="input">
											{% endif %}
										</p>
									</div>
								{% endfor %}
							{% endif %}
							</div>
							<hr>
						{% endfor %}
					{% else %}
					<p>Layout not found.</p>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	
	<script>
		var tucanComponents = {{json|raw}};
	</script>

{% endblock %}

{% block sidebar %}
	{% if layout != false %}
		<button type="submit" class="button is-success">{% if get.edit %}Update{% else %}Publish{% endif %}</button>
		<a href="{{system.evany.directory.home}}/{{system.evany.backend}}/pages" class="button">Cancel</a>
		</form>
	{% endif %}
{% endblock %}