{% extends "layout/layout.twig"%}

{% block body %}
	<h1><small>Pages</small></h1>
		
	<br/>

	<ul class="pages regular-list">
		{% if pages == false %}
		<li>
			<h4>No Pages</h4>
			<p>You haven't created any pages yet :(</p>
			<hr/>
		</li>
		{% else %}
			{% for page in pages %}
			<li>
				<h4>{{page.title}} <a href="?delete={{page.title}}" class="pull-right">&times;</a></h4>
				{% if page.components != false %}
					<p>This pages uses the layout {{page.layout}}.</p>
				{% endif %}
				<hr/>
			</li>
			{% endfor %}
		{% endif %}
	</ul>

{% endblock %}

{% block sidebar %}
	{% if layouts != false %}
	<h5 class="m-t-50"><strong>Create</strong></h5>
	<form action="pages/create" method="get">
	<select class="form-control" name="layout">
		{% for layout in layouts %}
		<option value="{{layout.title}}">{{layout.title}}</option>
		{% endfor %}
	</select>
	<br/>
	<button type="submit" class="pull-right btn-link p-0" type="submit">Create Page</button>
	</form>
	{% else %}
	<br/>
	<h5><strong>Note</strong></h5>
	<p class="muted">In order to create a page, you must first create a <a href="layouts">layout</a>.</p>
	{% endif %}
{% endblock %}