<!-- Header -->
<section class="hero is-info is-left is-bold">
  <div class="hero-header">
    <header class="header">
  <div class="container">
    <div class="header-left">
      <a class="header-item" href="/">
        
          <img src="{{system.evany.directory.base}}/resources/backend/img/logo@light.png" alt="{{system.evany.title}}">
        
      </a>
    </div>
    <span id="header-toggle" class="header-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div id="header-menu" class="header-right header-menu">
      <span class="header-item">
        <a class="is-active" href="{{system.evany.directory.home}}/{{system.evany.backend}}/logout">Logout</a>
      </span>
      <span class="header-item">
        
          <a class="button is-info is-outlined is-inverted" href="#">
            Help
          </a>
        
      </span>
    </div>
  </div>
</header>

  </div>

  <div class="hero-content">
    <div class="container">
      <p class="title">
        {{system.evany.site.title}}
      </p>
      <p class="subtitle">
        {{system.evany.site.domain}}
      </p>
    </div>
  </div>

  <div class="hero-footer">
    <nav class="tabs is-boxed">
      <div class="container">
        <ul>
          <li {% if activePage == 'pages' %}class="is-active"{% endif %}>
            <a href="{{system.evany.directory.home}}/{{system.evany.backend}}/pages">Pages</a>
          </li>
          <li {% if activePage == 'layouts' %}class="is-active"{% endif %}>
            <a href="{{system.evany.directory.home}}/{{system.evany.backend}}/layouts">Layouts</a>
          </li>
          <li {% if activePage == 'components' %}class="is-active"{% endif %}>
            <a href="{{system.evany.directory.home}}/{{system.evany.backend}}/components">Components</a>
          </li>
          <li {% if activePage == 'variables' %}class="is-active"{% endif %}>
            <a href="{{system.evany.directory.home}}/{{system.evany.backend}}/variables">Variables</a>
          </li>
          <li {% if activePage == 'extensions' %}class="is-active"{% endif %}>
            <a href="{{system.evany.directory.home}}/{{system.evany.backend}}/extensions">Extensions</a>
          </li>
          <li {% if activePage == 'users' %}class="is-active"{% endif %}>
            <a href="{{system.evany.directory.home}}/{{system.evany.backend}}/users">Users</a>
          </li>
  
        <!-- Extensions -->
        {% for key, extension in extensions %}
            <li {% if activePage == key %}class="is-active"{% endif %}>
            <a href="{{system.evany.directory.home}}/{{system.evany.backend}}/users">{{key}}</a>
          </li>
        {% endfor %}

        </ul>
      </div>
    </nav>
  </div>
</section>
<!-- Header -->
