<header id="navigation">
	<div class="row">
		<div class="col-md-5 col-md-offset-1">
			<!-- Navigation -->
			<ul>
				<li class="logo" title="{{system.evany.title}}"><a href="dashboard"><img src="{{system.evany.directory.base}}/resources/backend/img/tucan.png" alt=""></a></li>
				<li><a href="#">{{system.evany.title}}</a></li>
				<li><a href="{{system.evany.directory.home}}/{{system.evany.backend}}/pages">Pages</a></li>
				<li><a href="{{system.evany.directory.home}}/{{system.evany.backend}}/layouts">Layouts</a></li>
				<li><a href="{{system.evany.directory.home}}/{{system.evany.backend}}/components">Components</a></li>
				<li><a href="{{system.evany.directory.home}}/{{system.evany.backend}}/variables">Variables</a></li>
				<li><a href="{{system.evany.directory.home}}/{{system.evany.backend}}/extensions">Extensions</a></li>
				<li><a href="{{system.evany.directory.home}}/{{system.evany.backend}}/users">Users</a></li>
			</ul>
		</div>

		<div class="col-md-4 col-md-offset-1">
			<ul class="pull-right">
				<li><a href="#">Help</a></li>
				<li><a href="logout">Log Out</a></li>
			</ul>
		</div>
	</div>
</header>
