<!-- ParallaxMountains -->
  <h1>Updated</h1>
  <div class="ParallaxScene" id="scene">
    <div class="layer" data-depth="0.30">
      <img class="cloud" src="http://pngimg.com/upload/cloud_PNG4.png"/>
      <img class="cloud" src="http://www.asteroidmission.org/wp-content/themes/osiris/public_assets/images/cloud-6.png"/>
    </div>
    <div class="layer font" data-depth="0.20">
      <h1>{{header}}</h1>
      <img class="tucan-logo" src="{{config.directory.base}}/resources/frontend/img/tucan.png" alt="Tucan CMS" height="30" width="auto"/>
      <h4>
        {{subheader}}
      </h4>
    </div>
    <div class="layer sun" data-depth="0.15">
      <div class="sun"></div>
    </div>
    <div class="layer mountains" data-depth="0.12">
      <div class="mountain" style="background-image:url({{config.directory.base}}/resources/frontend/img/layer-mountain.png);"></div>
    </div>
    <div class="layer posts" data-depth="0.11">        
      <div class="posts" style="background-image:url({{config.directory.base}}/resources/frontend/img/layer-posts.png);"></div>
    </div>
  </div>
<!-- ParallaxMountains -->