{% extends "layout.twig" %}
{% block body %}

	<section class="col-6">
		<div class="inner">
			<h2>Users <a href="" class="add-new ion-plus"></a></h2>
			<ul class="list">
				{% for user in users %}
				<li>
					<i class=""></i>
					<p><a href="#">{{user.name}}</a></p>
					<small>User type: {{user.type}} <span>{{user.email}}</span></small>
				</li>
				{% endfor %}
			</ul>

		</div>
	</section>

	<section class="col-6">
		<div class="inner">
			<h2>Create a user</h2>
			<p>Users are created to follow a similar structure to that of an agile environment, meaning the system
			has been built for an admin, author, dev, client and user. Learn more about roles here.</p>
			<form method="post" action="new">

				<div class="form-item required">
					<label>Username</label>
					<input value="{{name}}" name="title" class="add-new" type="text" placeholder="smithy" required/>
					<span title="Required field" class="required">*</span>
				</div>

				<div class="form-item required">
					<label>Name</label>
					<input value="{{name}}" name="title" class="add-new" type="text" placeholder="John Smith" required/>
					<span title="Required field" class="required">*</span>
				</div>

				<div class="form-item required">
					<label>Email</label>
					<input value="{{name}}" name="title" class="add-new" type="email" placeholder="j.smith@example.com" required/>
					<span title="Required field" class="required">*</span>
				</div>

				<div class="form-item required">
					<label>Role</label>
					<div class="select">
						<select name="role">
							<option value="admin">Administrator</option>
							<option value="author">Author</option>
							<option value="developer">Developer</option>
							<option value="client">Client</option>
							<option value="user">User</option>
						</select>
						<i class="chevron ion-chevron-down"></i>
					</div>
					<span title="Required field" class="required">*</span>
				</div>

				<div class="form-item required">
					<label>Password</label>
					<input value="{{name}}" name="title" class="add-new" type="password" placeholder="@x11!98rA0o9" required/>
					<span title="Required field" class="required">*</span>
				</div>
				<button type="submit" class="save-item save-form right">Save</button> 
			</form>
		</div>
	</section>

{% endblock %}